CET_PDF_URL=https://fe2026.mahacet.org/CAP-III/CAPR-III_01002.pdf
  YOUR_NAME_OR_ROLLNO=YourRollNumber
  TWILIO_ACCOUNT_SID=your_sid_here
  TWILIO_AUTH_TOKEN=your_token_here
  TWILIO_PHONE=+1234567890
  YOUR_PHONE=+919876543210
  ALERT_METHOD=sms
